
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;  
    margin: auto;
   
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav{
    padding: 20px 0;
}
ul{
    list-style-type:none;
    
}

a{
    text-decoration: none;
}

a:hover{
    color: blue;
}


ul.flex{
    gap: 40px;
}

.active{
    font-weight: bold;
}
.nav-like{

    font-size: 18px;
    color: #1F1534;
    text-transform: capitalize;

}

.parant{
   
    padding: 20px 0;
    width: 80%;  
    margin: auto;
   
  
}
.title-para-button{
    width: 100%;
    max-width: 455px;
    max-height: 338px;
}

 .title-para-button h2{
   
    height: 70px;
    width: 200px;

   
}
 .title-para-button p{

   
    height: 80px;
    width: 300px;

   
}
.title-para-button button{
    padding: 10px;
    margin-top: 15px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: none;
    outline: none;
    background-color: rgb(0, 140, 255);
    color: white;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.title-para-button button:hover{
    background-color: rgb(6, 6, 96);
}

.section2-title-para{

     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 952px;
     height: 177px;

}
.parant-seciont2-title-para{
    display: flex;
    justify-content: center;
    align-items: center;
}
.rec{
    width: 56px;
    height: 2px;
    margin: 12px 0 ;
 }

 .parant-seciont2-title-para p{
    width: 952px;
    height: 60px;
    line-height: 30px;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    font-family: "Mulish", sans-serif;
 }

 .all-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1120px;
    height: 745px;
    
    
    margin-top: 80px;
    flex-wrap: wrap;
 }
 .box{

    width: 262px;
    height: 260px;
    margin: 47px 47px 38px 50px;

 }
 .parant-box{
    width: 350px;
    height: 354px;
   background-color: #FFFFFF;
 
    border-radius: 20px;
    margin: 10px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    position: relative;
    box-shadow: 10px 40px 40px #E5E9F666;
}

 .sub-parant-box{
    background-color: #FFFFFF;
    width: 262px;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 45px;
    top: 40px;
 }
 .box img{
    margin-bottom: 20px;
 }
 .box h5{
    margin-bottom: 10px;
   
    width: 200px;
    font-weight: 700;
    font-size: 24px;
 }

 .boss-parant{
   
    width: 100%;
    height: 1133px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
 }
 .button-box{
    border-radius: 55px;
    -webkit-border-radius: 55px;
    -moz-border-radius: 55px;
    -ms-border-radius: 55px;
    -o-border-radius: 55px;
    width: 200px;
    height: 60px;
    color: #458FF6;
    outline: none;
    border:1.4px solid #458FF6;
    margin:  70px;
    background-color: white;
}

.img-back{
    position: absolute;
    left: 0px;
    
}


